.loadingWrap{
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.loadingMask{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition:all .3s;
  &.loadingNone{
    background-color: rgba(0, 0, 0, 0)!important;
  }
}
.loadingIcon{
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loadingAnimation{
  display:inline-block;
  animation:loading 1s linear infinite;
  -webkit-animation:loading 1s linear infinite;
}
@keyframes loading
{
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
