@import './var.scss';
* {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Microsoft YaHei';
  -webkit-overflow-scrolling: touch;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}
html, body, .webview {
  width: 100%;
  height: 100%;
}
body {
  font-size: $fontsize12;
  color: $color-4a;
  background: $color-bg;
}
a{
  color: $color-active;
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none !important;
  margin: 0;
}
input[type="number"], input[type="date"]{
  -moz-appearance:textfield;
  -webkit-appearance: none;
}
input[type="number"], input[type="text"], input[type="date"], input[type="tel"], button, textarea, select{
  border: $w1px solid $color-line;
  padding: 0 .15rem;
  box-sizing: border-box;
  background: transparent;
  @extend .fontsize14;
}
input[type="number"], input[type="text"], input[type="date"], input[type="tel"], select{
  line-height: .5rem;
  height: .4rem;
  color: $color-4a;
}
button{
  line-height: .8rem;
  height: .8rem;
  color: $color-4a;
}
input[type="radio"]{
  background: transparent;
  border: $w1px solid $color-999;
  width: .3rem;
  height: .3rem;
  border-radius: 50%;
  vertical-align: -2px;
  margin: 0 .1rem;
  &:checked{
    border-width: .06rem;
    border-color: $color-active;
  }
}
::placeholder{
  color: $color-placeholder;
}
img{
  max-width: 100%;
}
#app, .wrap {
  height: 100%;
  min-width: 100%;
}
.wraper{
  min-height: 100%;
  background: linear-gradient($color-bg-top 0, $color-bg-top 1.7rem, $color-bg 1.70001rem, $color-bg);
  overflow: hidden;
  padding: 0 .35rem .35rem;
  box-sizing: border-box;
  &.home{
    background: linear-gradient($color-bg 0%, $color-bg 11%, $color-bg-white 11.0001%, $color-bg-white);
  }
  &.nothing{
    background: $color-bg;
  }
  &.screen{
    padding: 0;
  }
  .title-box{
    position: relative;
    margin-top: .9rem;
    background: rgba(255,255,255,.7);
    padding: .25rem .3rem;
    font-size: $fontsize14;
    @extend .box-shadow;
  }
}
.kmOrdEvaluate{
  .memo{
    [class*=van-hairline]::after{
      border: 0 dashed $color-e6;
    }
    .van-hairline--top-bottom::after{
      border-width: 1px 0;
    }
  }
}
.link{
  cursor: pointer;
}
.marl-10{
  margin-left: .1rem;
}
.marl-20{
  margin-left: .2rem;
}
.marl-30{
  margin-left: .3rem;
}
.marl-50{
  margin-left: .5rem;
}
.marr-20{
  margin-right: .2rem;
}
.marr-40{
  margin-right: .4rem;
}
.marr-50{
  margin-right: .5rem;
}
.padb-10{
  padding-bottom: .1rem;
}
.padb-15{
  padding-bottom: .15rem;
}
.padt-15{
  padding-top: .15rem;
}
.wh-100{
  width:1rem;
  height:1rem;
}
.width-150{
  width:1.5rem;
}
.align-r{
  text-align: right;
}
.align-c{
  text-align: center;
}
.align-l{
  text-align: left;
}
.radius{
  border-radius: 0.03rem;
}
.radius-200{
  border-radius: 2rem;
}
.form-wrap{
  background: $color-bg-white;
  @extend .box-shadow;
  padding: .3rem;
  box-sizing: border-box;
  font-size: $fontsize14;
  color: $color-4a;
  &.list{
    margin-bottom: .2rem;
  }

  .form-item{
    border-bottom: $w1px solid $color-line;
    &.bordb-dashed{
      border-bottom: $w1px dashed $color-line;
    }
    &.bordb-no{
      border-bottom: $w1px dashed transparent;
    }
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    &.justify-content-start{
      justify-content: flex-start;
    }
    &:last-child{
      margin-bottom: 0;
      border-bottom: none;
    }
    &.title{
      padding-bottom: .15rem;
      font-size: $fontsize14;
    }
    .content{
      flex: 1;
      padding-top: .15rem;
      line-height: 150%;
    }
    .desc{
      color: $color-80;
    }
    .form-item-label{
      flex-basis: 1.5rem;
      display: inline-block;
      color: $color-label;
      white-space: nowrap;
    }
    .form-item-content, textarea, .form-item-display{
      flex: 1;
      line-height: .40rem;
    }
    .form-item-content, textarea{
      padding: .2rem 0;
    }
    .form-item-input{
      border: none;
      flex: 1;
      padding: 0;
      margin: .2rem 0 .2rem .05rem;
      width: 100%;
    }
    .iconfont{
      color: $color-active;
      margin-right: .1rem;
      &.icon-user-2{
        &.color-white{
          margin-right:0;
        }
      }
    }
    .is-disabled{
      color: $color-9b;
    }
  }
}
button.active{
  background: $color-active;
  color: $color-white;
  padding:0 .5rem;
  line-height: .6rem;
  border-radius: .1rem;
  border: none;
  @extend .fontsize14;
  @extend .animation;
  &:hover, &:active{
    background: mix($color-active,  $color-white, 90%)
  }
  &.submit{
    padding: 0 .5rem !important;
  }
}
.btn-text{
  color: $color-active;
  cursor: pointer;
  white-space: nowrap;
  &.is-disabled{
    color: $color-999;
    cursor: not-allowed;
  }
}

.mask{
  background: rgba(0,0,0,.2);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  display: flex;
  justify-items: center;
  align-items: center;
  .mask-wrap{
    width: 5.6rem;
    box-sizing: border-box;
    padding: .5rem;
    border-radius: .1rem;
    position: relative;
    font-size: $fontsize14;
    color: $color-4a;
    background: $color-bg;
    margin: 0 auto;
    @extend .box-shadow;
    .icon-close{
      position: absolute;
      right: -.2rem;
      top: -.2rem;
      width: .5rem;
      height: .5rem;
      background: $color-a0;
      color: $color-white;
      text-align: center;
      line-height: .5rem;
      border-radius: 50%;
      font-size: $fontsize12;
      cursor: pointer;
    }
    .title{
      font-size: $fontsize16;
      text-align: center;
      margin-bottom: .2rem;
    }
  }
}
.mint-toast{
  .icon-font{
    font-size: .4rem
  }
}
.success{
  color: #8acd9d;
}
.pending{
  color: #d6a6ad;
}
.ins-statu-60401{
  color: #e98e45;
}
.ins-statu-60402{
  color: #8daade;
}
.ins-statu-60403{
  color: #e98e45;
}
.ins-statu-60404{
  color: #e96b45;
}
.ins-statu-60405{
  color: #8acd9d;
}
.ins-statu-60406{
  color: #d59364;
}
.ins-statu-60407{
  color: #8acd9d;
}
.ins-statu-60408{
  color: #D57E64;
}
.ins-statu-60409{
  color: #557e64;
}
.onln-71501{
  color: #8daade;
}
.onln-71502{
  color: #8acd9d;
}
.onln-71503{
  color: #bbbabb;
}
.onln-71504{
  color: #d59364;
}
.van-toast {
  .van-toast__text{
    // white-space: nowrap;
    text-align: center;
  }
}
.page-title{
  height: .9rem;
  color: $color-title;
  font-size: $fontsize18;
  text-align: center;
  line-height: .9rem;
}
.main{
  padding: 0 .3rem;
  box-sizing: border-box;
}
.title-box.tabs{
  color: $color-active;
  margin: .3rem 0 .4rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: .7rem;
  cursor: pointer;
  &.around{
    justify-content: space-around;
  }
  span{
    display: inline-block;
    width: 1.55rem;
    text-align: center;
    border-radius: .1rem;
    border: $w1px solid $color-active;
    padding: .15rem 0;
    &.active{
      background: $color-active;
      color: $color-white;
    }
  }
}
.van-list__loading{
  clear: both;
  width: 100%;
  padding-top: .2rem;
}
.cancel-actionsheet{
  padding: .4rem .6rem;
  .van-hairline--bottom::after{
    display: none;
  }
  .title{
    font-size: $fontsize16;
    border-bottom: .01rem solid #ededed;
    padding-bottom: .2rem;
    font-weight: 100;
  }
}
.txbg{
  border-radius: 50%;
  background: $color-white;
  display: inline-block;
  @extend .shadow;
}
.van-pull-refresh{
  position: relative;
  height: 100%;
  overflow: auto;
  .van-pull-refresh__track{
    height: 100%;
  }
}

.color-white{
  &.icon-user-2:before{
    color:$color-white;
  }
}

.van-icon-star:before {
  content: "\e91d";
  color: #d98045;
}
.van-icon-star-o:before {
  content: "\e91e";
  color: #9E9E9E;
}

.van-icon-fail:before {
  content: "\e920";
}
.van-icon-success:before {
  content: "\e905";
  color: $color-white;
}
.van-icon-clear:before {
  content: "\e60b";
}